@charset "UTF-8";
/* -*- coding: UTF-8, tab-width: 2 -*- */

label.chkb-button:after,
.page-content .page-annots,
.fill {
  display: block; margin: 0;
  position: absolute; top: 0; left: 0; right: 0; bottom: 0;
}

html {
  --app-bgc: honeydew; background-color: var(--app-bgc);
  --app-sides-pad: 1ex;
  --app-top-pad: var(--app-sides-pad);
}
body { margin: 0; }
body, form, label { position: relative; }
body > form {
  padding: var(--app-sides-pad);
  padding-top: var(--app-top-pad);
  padding-bottom: 50em;
}
hr { border-width: 0; height: 0; padding: 0; margin: 0; }
label.chkb-button:after { content: " "; }
p { margin: 0; }
input.chkb-dismiss-next,
input.chkb-dismiss-next:checked + *,
del, .hidden { display: none; }
.page { text-align: center; margin-bottom: 3em; }
.page > * { text-align: left; }
.page > .topbar,
.page > .page-border,
.page > .centered { display: inline-block; margin: auto; }
.page-border,
.page-content { display: inline-block; }
.page-border { border: 2px solid green; background-color: forestgreen;
  min-width: 1em; min-height: 1em; }
.page-content { position: relative; }
.page-content img { vertical-align: middle; }
.page-content .page-annots { overflow: hidden; cursor: crosshair; }

.topbar { position: relative; top: 0; z-index: 20; white-space: nowrap; }
.fake-bg-overlay { position: fixed; top: var(--app-top-pad); left: 0; right: 0; }
.fake-bg-overlay .topbar { left: -20em; opacity: 0; display: none; }
.fake-bg-overlay .fill { top: -10em; background-color: var(--app-bgc); }
.fake-bg-overlay .topbar { z-index: 8; }
.page .topbar { position: sticky; top: var(--app-top-pad); }
.topbar .border { position: relative; display: inline-block; }
.topbar .border,
.msgbox,
.popdown { border: 2px solid dimgrey; background-color: whitesmoke;
  padding: 0.5ex 0.75ex; }
.msgbox { display: inline-block; background-color: white; }
.float-top-right { float: right; margin-left: 2em; margin-bottom: 0.5ex; }
.danger { background-color: red; color: mistyrose; }

textarea { resize: both; }
.topbar .popdown { display: none; position: absolute; top: 100%; left: 0; }
.topbar > .border > * { display: inline-block; position: relative; }
.topbar > .border > *:hover .popdown { display: block; }

form > .topbar { position: fixed; top: var(--app-top-pad); }
.topbar.right { left: auto; right: var(--app-sides-pad); }
.topbar.right .popdown { left: auto; right: 0; }

input[type="number"] { text-align: right; }
.topbar label.image-dpi { margin: 0 1ex; }
.topbar label.image-dpi input { width: 8ex; }

input[type="radio"] { margin-right: 0.5ex; }
.radiobtn-list > label { margin-right: 2em; }
.radiobtn-list.down > label { display: block; margin-right: unset; }








/* scroll */
